<form action="/favorites" method="post">
	<input type="hidden" name="id" value="<%= home._id %>" />
	<button
		type="submit"
		class="p-2 px-4 bg-pink-600 hover:bg-pink-700 text-white rounded cursor-pointer"
	>
		Add to favorite
	</button>
</form>
