<%- include('partials/head') %>
	</head>
	<body >
			<%- include('partials/nav') %>
			<section class="bg-gray-50 min-h-screen font-sans flex flex-col items-center justify-center">
		<header>
			<h1 class="text-3xl text-indigo-600 font-semibold mb-6">You are Registered Successfully!</h1>
		</header>
		<main>
			<a href="/" class="text-lg text-white bg-indigo-600 hover:bg-indigo-700 py-2 px-4 rounded-lg transition duration-200 ease-in-out">Go Back Home</a>
		</main>
		</section>
	</body>
</html>