<% if (errors.length > 0) { %>
<div class="bg-white border border-red-300 rounded-lg p-4 mb-6 shadow-sm">
    <div class="flex items-center mb-2"></div>
     
    <% errors.forEach(error => { %>
      <li><%= error %></li>
    <% }); %>
  </ul>
</div>
<% } %>
