   <% if (errors.length > 0) { %>
    <div class="my-2 p-3 bg-red-100 border border-red-400 text-red-700 rounded max-w-md">
        <ul class="list-disc list-inside space-y-1">
            <% errors.forEach(error => { %>
                <li class="text-sm font-medium">
                    <%= error %>
                </li>
            <% }); %>
        </ul>
    </div>
<% } %>
