<%- include('partials/head') %>
	</head>
	<body >
		<%- include('partials/nav') %>
		<section class="bg-gray-50 min-h-screen font-sans flex flex-col items-center justify-center">
		<header>
			<h1 class="text-7xl text-center text-red-500 font-semibold mb-6">404</h1>
			<h1 class="text-1xl text-grey-400 font-semibold mb-6">Oops! Page Not Found</h1>
		</header>
		<a href="/" class="text-lg text-white bg-red-300 hover:bg-red-500 py-2 px-4 rounded-lg transition duration-200 ease-in-out">Go Back Home</a>
		</section>
	</body>
</html>