<%- include('../partials/head') %>
	</head>
	<body >
		<%- include('../partials/nav') %>
		<section class="bg-gray-50 min-h-screen font-sans flex flex-col items-center justify-center">
		<h2 class="text-5xl  font-bold text-amber-300 mb-4 text-center">books will appear here!</h2>
		<p class="text-2xl text-purple-400">Bookings will appear  here!</p>
		</section>
	</body>
</html>