<%- include('../partials/head') %>
	</head>
	<body>
		<%- include('../partials/nav') %>
		<section class="bg-gray-100 min-h-screen font-sans">
			<main class="container mx-auto max-w-6xl py-8 px-4">
				<h2 class="text-6xl font-semibold mb-6 text-center">
					Your are Home Detail Page!

				</h2>
            </main>
		</section>
	</body>
</html>
